.intro{
    margin: 50px;
    padding: 2rem;
    color:blue;
    background: linear-gradient(45deg, #7e9e86, #1DA1F2);
    border-radius: 15px;
}
.intro h2{
    color: #ff1252;
}
.intro h2 span{
    color: #fff;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.book .inputs{
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
}
.book .inputs input{
    background: #1DA1F2;
    width: auto;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    border: hidden;
    color: #fff;
}
.sub-menu{
    display: none;

}
::placeholder{
    color: blue;
}
.service .dropdown{
    color: blue;
    background: #1DA1F2;
    max-width: 200px;
    padding: 0.3rem;
    border-radius: 15px;
}
.service .dropdown option{
    color: rgb(118, 4, 163);
    background: linear-gradient(45deg, #12ff4d, rgb(179, 255, 0));
}
.book .inputs .service:hover{
    display: block;
}
.book .submit{
    background-color: #12ff4d;
    text-align: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
}
@media screen  and (max-width: 769px){
    .book .inputs{
        display: flex;
        flex-direction: column;
    }
    .book .inputs .name, .phone, .service, .location, .date, .time{
        display: flex;
        flex-direction: column;
    }
    .book {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}